<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>To Kindle.ru</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reveal.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.formstyler.css') }}" />

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.formstyler.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.reveal.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

	<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32605373-4']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
	</script>
</head>
<body>
    <div id="note" class="hidden">You smell good.</div>
    {% block menu %}
	    <a href="/pages/unsubscribe.html" class="unsubscribe-link">Отписаться</a>
    {% endblock %}
	<div class="container">
        {% block content %}

        {% endblock %}
	</div>
</body>
</html>