<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Отписаться от дайджеста</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/common.css" />
	<link rel="stylesheet" type="text/css" href="/css/reveal.css" />
	<link rel="stylesheet" type="text/css" href="/css/layout.css" />
	<link href="/css/jquery.formstyler.css" rel="stylesheet" />

	<script type="text/javascript" src="/js/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/js/jquery.formstyler.min.js"></script>
	<script type="text/javascript" src="/js/jquery.reveal.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32605373-4']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
<div id="note" class="hidden">You smell good.</div>
	<a href="/" class="unsubscribe-link">Подписаться</a>
	<div class="container">
		<div class="unsubscribe cf">
			<div class="unsubscribe-title">Отписка от рассылки :-(</div>
			<div class="unsubscribe-text">Для отписки удалите e-mail robot@tokindle.ru из списка доверенных <a href="https://www.amazon.com/gp/digital/fiona/manage?ie=UTF8&ref_=kinw_myk_surl_1#pdocSettings">на странице управления</a> Вашим устройством.</div>
		</div>
	</div>
</body>
</html>